<div class="content-wrapper">
    <form action="" method="POST">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">password</label>
        <input type="text" name="password">
    </form>
</div>