<div class="content-wrapper content-body">
    <form class="auth-form" action="/auth/login" method="POST">
        <h2>Login</h2>
        <div class="auth-form-field">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required maxlength="25">
        </div>
        <div class="auth-form-field">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required maxlength="25">
        </div>
        <button class="btn-blue-bg" type="submit">Login</button>
    </form>
</div>