<header>
    <nav>
        <a href="/">Weeabrary</a>
        <ul>
            <li><a href="/stories">Browse</a></li>
            <li><a href="/myworks">My Works</a></li>
        </ul>
    </nav>
</header>