<header>
    <nav class="navbar">
        <a class="web-title" href="/">Weeabrary</a>
        <ul class="navbar-list">
            <li class="navbar-item"><a href="/stories">Browse</a></li>
            <li class="navbar-item"><a href="/myworks">My Works</a></li>
        </ul>
    </nav>
</header>