<h1>Edit Chapter: <%= chapter.title %></h1>
<form action="/myworks/<%= story.slug %>/chapters/<%= chapter.num %>?_method=PUT" method="POST">
    <%- include("_form_fields") %>
    <button type="submit">Save</button>
</form>