<header>
    <nav>
        <a href="/">Weeabrary</a>
        <ul>
            <li><a href="/anime">Anime</a></li>
            <li><a href="/anime/new">Add Anime</a></li>
            <li><a href="/manga">Manga</a></li>
            <li><a href="/manga/new">Add Manga</a></li>
        </ul>
    </nav>
</header>