*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr-dark-bg-primary: #242729; 
    --clr-dark-bg-secondary: rgb(60, 60, 60);
    --clr-dark-text-primary: #fff;

    --clr-light-story-title: #1b98e0;
    --clr-light-story-button: #02609d;
    --clr-light-story-delete: red;

    --clr-chapter-border: #e0dada;
    --clr-body-light-bg: #f2f2f2;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

button {
    font-size: inherit;
    font-family: inherit; 
}

input {
    font-family: inherit;
}

textarea {
    font-family: inherit;
}

/* Header Styling */
header {
    background-color: var(--clr-dark-bg-primary);
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-list {
    list-style: none;
}

.navbar a {
    color: var(--clr-dark-text-primary);
    text-decoration: none;
}

.navbar .web-title {
    font-size: 1.5rem;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

.navbar .navbar-list {
    display:none;
    width: 100%;
    text-align: center;
}

.navbar .navbar-list li {
    width: 100%;
    background-color: var(--clr-dark-bg-secondary);
    border-bottom: 1px solid var(--clr-dark-bg-primary);
    padding: 0.4em 0;
}

.nav-button {
    background-color: var(--clr-dark-bg-primary);
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 0.2em;
    border: 1px solid var(--clr-dark-bg-secondary);
    top: 0.55em;
    right: 0.4em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button .nav-button-line {
    width: 80%;
    height: 2px;
    background-color: var(--clr-dark-text-primary);
    border-radius: 0.5em;
}

.navbar .active {
    display: block;
}

.content-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: var(--clr-body-light-bg);
}

.page-content-header {
    display: flex;
    justify-content: space-between;
}

.page-content-header h2 {
    font-size: 1.125rem;
    margin: auto 0;
    padding: 0.5em;
    font-weight: 400;
}

.page-content-header a {
    font-size: 0.875rem;
    margin: auto 0;
}

/* Stories Container Styling */
.story-card {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid #efefef;
}

.story-card .story-card-title {
    color: var(--clr-light-story-title);
    font-size: 1rem;
    padding: 0.9em 0;
    line-height: 1.5;
    font-weight:700;
}

.story-card .story-card-title a {
    color: var(--clr-light-story-title);
}

.story-card .story-card-img {
    display: flex;
    justify-content: center;
}


.story-card .story-card-img img {
    width: 100px;
    height: 142px;
}

.story-card .story-card-body .story-card-body-desc {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.66;
}

.story-card .story-card-body .story-card-myworks-btns {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
}

.story-card .story-card-body .story-card-myworks-btns a {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.story-card .story-card-body .story-card-myworks-btns form {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.story-card .story-card-body .story-card-myworks-btns form button {
    width: 100%;
    height: 100%;
}

/* My Works story edit tabs*/
.myworks-tabs {
    margin-bottom: 10rem;
}
.myworks-tabs .tab-list {
   list-style:  none;
   border: 1px solid var(--clr-chapter-border);
   font-size: 0.9rem;
   font-weight: 600;
   color: gray;
   display: flex;
} 

.myworks-tabs .tab-list .tab-item {
    border-right: 1px solid var(--clr-chapter-border);
    padding: 0.5em;
}

.myworks-tabs .tab-list .active {
    color: var(--clr-dark-bg-primary);
    border-bottom: 2px solid var(--clr-light-story-button);
}


/* My Works story details edit page */
.myworks-story-title h2 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
}

.myworks-story-form .myworks-story-form-image {
    margin-bottom: 0.975rem;
}

.myworks-story-form .myworks-story-form-image .myworks-story-form-image-preview {
    width: 200px;
    height: 284px;
}

.myworks-story-form .myworks-story-form-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.975rem;
}

.myworks-story-form .myworks-story-form-title input 
{
    padding: 0.4rem;
    font-size: 0.875rem;
}

.myworks-story-form .myworks-story-form-desc {
    display:flex;
    flex-direction: column;
    margin-bottom: 0.975rem;
}

.myworks-story-form .myworks-story-form-desc textarea {
    padding: 0.4rem;
    font-size: 0.875rem;
}

/* My Works Glossary */
.myworks-story-glossary .chapter-list-header {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    text-align: right;
    
}

.myworks-story-glossary .chapter-list {
    list-style: none;
}

.myworks-story-glossary .chapter-list .chapter-list-item {
    font-size: 0.975rem;
    border: 1px solid var(--clr-chapter-border);
    padding: 0.4em;
    display: flex;
    justify-content: space-between;
}

.myworks-tabs-page {
    display: none;
}

.myworks-tabs-page.active {
    display: block;
}

/* Browse / Story details */
.story-chapter-list {
    list-style: none;
}

.story-title h2{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.25em;
    margin-top: 0.875rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid var(--clr-chapter-border);
}

.story-image {
    margin-top: 0.875rem;
    border-bottom: 1px solid var(--clr-chapter-border);
    padding-bottom: 0.875rem;
}

.story-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 284px;
}

.story-desc {
    padding: 0.5em;
    font-size: 0.875rem;
}

.story-chapter-list {
    margin-top: 2rem;
}

.story-chapter-list h3 {
    font-weight: 600;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--clr-dark-bg-primary);
}

.story-chapter-list .chapter-list {
    list-style: none;
}

.story-chapter-list .chapter-list .chapter-list-item {
    border-bottom: 1px solid var(--clr-chapter-border);
    padding: 0.5rem;
}

/* Browse / Chapter Show Page */
.chapter-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapter-header .story-title {
    text-align: center;
    font-size: 1.25rem;
    color: var(--clr-light-story-title);
}

.chapter-header .chapter-title {
    text-align: center;
    font-size: 1.45rem;
    margin-bottom: 0.5rem;

}

.chapter-page-control .chapter-page-control-btn {
    border-radius: 0.25em;
    padding: 0.2em 2rem;
}

.chapter-page-control .story-show-btn {
    border-radius: 0.25em;
    padding: 0.2em 0.5rem;
}

.chapter-page-control .inactive {
    opacity: 0.5;
    pointer-events: none;
}

.chapter-story-image  {
    margin: 0.25rem 0;
}

.chapter-story-image img {
    width: 100px;
    height: 142px;
}

.chapter-body {
    margin-top: 2rem;
    padding: 0, 0.875rem;
    font-size: 0.875rem;
    line-height: 1.66;
}

/* My Works / Add or edit chapter */
.myworks-chapter-form .myworks-chapter-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.975rem;
}

.myworks-chapter-form .myworks-chapter-form-field input[name="title"] {
    padding: 0.4rem;
    font-size: 0.875rem;
}

.myworks-chapter-form .myworks-chapter-form-field textarea {
    font-size: 0.875rem;
}

/* Error page */
.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-container .error-box {
    background-color: rgb(241, 129, 129);
    border: 1px solid red;
    border-radius: 0.5em;
    max-width: 1120px;
    min-height: 300px;
    padding: 1em;
    margin-top: 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-container .error-box .error-heading {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.error-container .error-box .error-trace {
    font-size: 0.875rem;
}

/* Review form */
.review-form {
    border-top: 1px solid var(--clr-chapter-border);
    margin-top: 2rem;
    padding-top: 1rem;
}

.review-form .review-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.925rem;
}

.review-form .review-form-control {
    font-family: inherit;
    padding: 0.5em;
    font-size: 0.875rem;
}

/* Utilities */
.content-wrapper {
    margin: auto;
    max-width: 1120px;
    padding: 0 0.9375rem;
    margin-bottom: 1rem;
}

.btn-blue-border {
    border: 1px solid var(--clr-light-story-title);
    padding: 0.15em 0.4em;
    color: var(--clr-light-story-button);
}

.btn-red-border {
    border: 1px solid var(--clr-light-story-delete);
    padding: 0.15em 0.4em;
    color: var(--clr-light-story-delete);
}

.btn-blue-bg {
    background-color: var(--clr-light-story-button);
    padding: 0.3em 0.6em;
    color: var(--clr-dark-text-primary);
    border: none;
}

.text-center {
    text-align: center;
}


/* @media (min-width: 37.6em) {
    header {
        display: flex;
        justify-content: center;
    }

    .nav-button {
        display:none;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .navbar .web-title {
        margin: 0;
    }
    
    .navbar .navbar-list {
        display: flex;
        text-align: none;
        width: auto;
        justify-content: space-evenly;
        width: 30%;
    }
    
    .navbar .navbar-list li {
        background-color: transparent;
        border-bottom: none;
        padding: 0;
    }

    .main-content-width {
        max-width: 1120px;
    }
    
} */