<h1>Browse Stories</h1>
<% for (const story of stories) { %>
    <div>
        <h2><%= story.title %></h2>
        <p><%= story.synopsis %></p>
        <a href="/stories/<%= story.slug %>">View</a>
    </div>    
<% } %> 