<div class="content-header">
    <div class="content-wrapper page-content-header">
        <h2>My Works / Create </h2>
        <a href="/myworks">Back</a>
    </div>
</div>

<div class="content-wrapper">
    <form class="myworks-story-form" action="/myworks" method="POST" enctype="multipart/form-data">
        <%- include("_form_fields") %> 
        <button class="btn-blue-bg" type="submit">Create</button>
    </form>
</div>